// Colors
$text-color: #fff;
$header-color: #000;

//SCSS Base
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: $header-color;

    div {
        display: flex;
        align-items: center;
        color: $text-color;
    }

    img {
        width: 50px;
    }
}