<mat-toolbar>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo Advise">
        <h1>Pokedex</h1>
    </div>
</mat-toolbar>
<!-- Buscar -->
<section>
    <mat-form-field class="search" floatLabel="always">
        <mat-label>Pokemon Name or ID</mat-label>
        <input matInput [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="Charizard or 6">
    </mat-form-field>

    <mat-slide-toggle color="primary" [checked]="classicMode" (change)="classicMode = !classicMode">
        {{classicMode ? 'Classic' : 'Gif'}}
    </mat-slide-toggle>
</section>

<main>
    <div class="loading" *ngIf="isLoading">
        <span>Loading... please wait!!</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="!isSearching" class="pokemon-list">
        <div *ngFor="let pokemon of pokemons" (click)="onDetail(pokemon)">
            <div class="card">
                <div class="card-info">
                    <h2 class="color-black">{{pokemon.name}}</h2>
                    <span class="{{'bg-color-' + getPrincipalType(pokemon.types)}}"
                        *ngFor="let type of pokemon.types">{{type.type.name}}</span>
                </div>
                <div class="card-img">
                    <img *ngIf="classicMode" [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
                </div>
                <span class="platform {{'bg-color-' + getPrincipalType(pokemon.types) + '-light'}}"></span>
            </div>
        </div>
    </div>
</main>