mat-toolbar {
    padding: 2em 8%;
    background-color: black;
    display: flex;
    align-items: center;

    div.logo {
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 46px;
            margin-right: 16px;
            border: 1px solid white;
            border-radius: 50%;
        }

        h1 {
            font-size: 30px;
            font-weight: 600;
            color: white;
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8%;

    mat-form-field {
        width: 40rem;
        font-size: 18px;
    }

    mat-slide-toggle {
        width: 104px;
        font-size: 18px;
    }
}

main {
    padding: 0 8%;

    .loading {
        margin-bottom: 10px;

        span {
            font-size: 18px;
            font-weight: 700;
        }

        mat-progress-bar {
            height: 8px;
        }
    }

    .pokemon-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .card {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 32px;
            width: 24vw;
            border-radius: 6px;
            margin-bottom: 16px;
            background-color: rgb(163, 163, 163);

            .card-info {
                h2 {
                    margin-bottom: 16px;

                    &:first-letter {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}