.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #00000033;

    input {
        background: none;
        border: none;
        height: 40px;
        padding: 16px;
        width: 100%;

        &:focus {
            outline: #436fff solid 2px;
            border-radius: 4px;
        }
    }

    mat-icon {
        cursor: pointer;
    }
}