@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

$grass: #78C750;
$fire: #F07F2F;
$water: #6890F0;
$normal: #A9A878;
$flying: #A890F0;
$bug: #A8B821;
$poison: #A040A1;
$electric: #F8D030;
$ground: #E0C069;
$fighting: #C03028;
$psychic: #F85888;
$rock: #B89F38;
$ice: #98D8D8;
$ghost: #5D5899;
$dragon: #7038F9;
$dark: #6F5848;
$steel: #B8B8D0;
$fairy: #EE99AC;
//light
$grass-light: #AADC91;
$fire-light: #F6AE7C;
$water-light: #A0B9F6;
$normal-light: #C9C8AA;
$flying-light: #C8B9F6;
$bug-light: #C8D273;
$poison-light: #C386C4;
$electric-light: #FBE17C;
$ground-light: #EBD7A0;
$fighting-light: #D77C77;
$psychic-light: #FB96B4;
$rock-light: #D2C281;
$ice-light: #BEE6E6;
$ghost-light: #9996BF;
$dragon-light: #A581FB;
$dark-light: #A4968B;
$steel-light: #D2D2E1;
$fairy-light: #F4BFCB;

$gray-light: #d8d8d8;
$gray-dark: #606060;
$gray: #b6b6b6;

$transparent: transparent;
$black: #000000;
$white: #ffffff;

$general: (
    'black',
    $black),
    ('white', $white),
    ('grass', $grass),
    ('grass-light', $grass-light),
    ('fire', $fire),
    ('fire-light', $fire-light),
    ('water', $water),
    ('water-light', $water-light),
    ('normal', $normal),
    ('normal-light', $normal-light),
    ('flying', $flying),
    ('flying-light', $flying-light),
    ('bug', $bug),
    ('bug-light', $bug-light),
    ('poison', $poison),
    ('poison-light', $poison-light),
    ('electric', $electric),
    ('electric-light', $electric-light),
    ('ground', $ground),
    ('ground-light', $ground-light),
    ('fighting', $fighting),
    ('fighting-light', $fighting-light),
    ('psychic', $psychic),
    ('psychic-light', $psychic-light),
    ('rock', $rock),
    ('rock-light', $rock-light),
    ('ice', $ice),
    ('ice-light', $ice-light),
    ('ghost', $ghost),
    ('ghost-light', $ghost-light),
    ('dragon', $dragon),
    ('dragon-light', $dragon-light),
    ('dark', $dark),
    ('dark-light', $dark-light),
    ('steel', $steel),
    ('steel-light', $steel-light),
    ('fairy', $fairy),
    ('fairy-light', $fairy-light),
    ('gray', $gray
);

@each $color in $general {
    $name: nth($color, 1);
    $value: nth($color, 2);

    .bg-color-#{$name} {
        background-color: $value  !important
    }

    .color-#{$name} {
        color: $value  !important;
    }
}

// @for $i from 0 through 100 {
//     .w-#{$i} {
//         width: #{$i * 1%};
//     }

//     .h-#{$i} {
//         height: #{$i * 1%};
//     }
// }