@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

$grass: #78C750;
$fire: #F07F2F;
$water: #6890F0;
$normal: #A9A878;
$flying: #A890F0;
$bug: #A8B821;
$poison: #A040A1;
$electric: #F8D030;
$ground: #E0C069;
$fighting: #C03028;
$psychic: #F85888;
$rock: #B89F38;
$ice: #98D8D8;
$ghost: #5D5899;
$dragon: #7038F9;
$dark: #6F5848;
$steel: #B8B8D0;
$fairy: #EE99AC;

$gray-light: #d8d8d8;
$gray-dark: #606060;
$gray: #b6b6b6;

$transparent: transparent;
$black: #000000;
$white: #ffffff;

$general: (
    'black',
    $black),
    ('white', $white),
    ('grass', $grass),
    ('fire', $fire),
    ('water', $water),
    ('normal', $normal),
    ('flying', $flying),
    ('bug', $bug),
    ('poison', $poison),
    ('electric', $electric),
    ('ground', $ground),
    ('fighting', $fighting),
    ('psychic', $psychic),
    ('rock', $rock),
    ('ice', $ice),
    ('ghost', $ghost),
    ('dragon', $dragon),
    ('dark', $dark),
    ('steel', $steel),
    ('fairy', $fairy),
    ('gray', $gray
);

@each $color in $general {
    $name: nth($color, 1);
    $value: nth($color, 2);

    // .bg-color-#{$name} {
    //     background-color: $value  !important
    // }

    .color-#{$name} {
        color: $value  !important;
    }
}

// @for $i from 0 through 100 {
//     .w-#{$i} {
//         width: #{$i * 1%};
//     }

//     .h-#{$i} {
//         height: #{$i * 1%};
//     }
// }